*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --container-width:1000px;
}
.container{
    background: #000;
    width: 1000px;
    height: 200px;
    display: flex;
    /* color: #fff; */
}

.item{
    height: 200px;
    /* width: calc(500px - 100px); */
    /* width: calc(500px + 100px); */
    /* width: calc(10px * 10); */
    /* width: calc(1000px / 10);  */
    /* width: calc(50% + 200px); */
    /* width: calc(50% + 2rem); */
    /* width: calc(var(--container-width) / 2); */
    min-width:calc(calc(100% / 5) - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    background-color:coral ;
}